<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzEGBthv_4fsyl1PcoGfZJeDt1Y9Pwq80</string>
	<key>GCM_SENDER_ID</key>
	<string>350711219066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nandoramz.AIChat</string>
	<key>PROJECT_ID</key>
	<string>instagram-practice-e72e3</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-practice-e72e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350711219066:ios:3d168facb02cd47cb9ccc3</string>
</dict>
</plist>